<h1>All Lists</h1>
<%= link_to "New List", new_list_path %>
<br>
<div class="lists-container">
    <% @lists.each do |list| %>
        <%= render partial: "list", locals: {list: list} %>
    <% end %>
</div>