<div class="list-item">
    <turbo-frame id=<%="edit_item_#{list_item.id}_from_#{list_item.list_id}"%>>
        <li><%= link_to list_item.content, edit_list_item_path(list_item) %></li>
    </turbo-frame>
</div>
<br>