.lists-container {
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.lists-container .list-item {
    text-align: left;
    border-style: dashed;
    padding: 1em;
}
.list-item a {
    color: black;
    text-decoration: none;
}
.form {
    text-align: left;
}
.flex-container {
    display: flex;
}
li.no-style-li {
    list-style-type: none;
}
div.checkbox-item {
    display: inline-flex;
}